<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Four in a Chain - Lobby</title>
		<meta name="description" content="Four in a Chain - Lobby">
		<meta name="author" content="Daniel Jones">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1>Game Lobby</h1>
		</header>
	<main>
		<p>This will be the lobby page</p>
	</main>
	</body>
</html>
