<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Four in a Chain - Lobby</title>
	<meta name="description" content="Four in a Chain - Lobby">
	<meta name="author" content="Daniel Jones">
	<script type="text/javascript" src="{{host}}/web3.min.js"></script>
	<script type="text/javascript" src="{{host}}/main.js"></script>


</head>

<body>
	<header>
		<h1>Game Lobby</h1>
	</header>
	<main>
		<p>Connect MetaMask and click 'Play' to wait for an opponent</p>
		<button onclick="init()">Connect MetaMask</button>
		<a href="#"><button onclick="testContract()">Play</button></a>
	</main>
</body>

</html>